{% extends "HKmanager/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    <div class="media-body">
      <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
      <p class="text-secondary">Email: {{ user.email }}</p>
      <p class="text-secondary">Mobile: {{ user.profile.mobile }}</p>
    </div>
  </div>
  <br>
  <br>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Update Personal Information</legend>
      {{ u_form|crispy }}
      {{ p_form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit" name="submit-button">Update</button>
    </div>
  </form>
</div>
<h3>Apartments Assigned to you:</h3>
{% for apt in apartments %}
  <article class="media content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h4><a class="article-title aligner-center" href="{% url 'hk-Apartment' apt.id %}">{{ apt.block }} - {{ apt.number }}</a></h4>
        </div>
        <div id="status {{apt.number}}" class="col-sm-3 text-white">
          <p class="article-content aligner-center">{{ apt.status }}</p>
        </div>
        <div id="task {{apt.number}}" class="col-sm-3 text-white">
          <p class="article-content aligner-center">{{ apt.task }}</p>
        </div>
        <script>
          var num = "{{apt.number}}"
          var status = "{{apt.status}}";
          var task = "{{apt.task}}";
          setStatusClass(status, num);
          setTaskClass(task, num);
        </script>
        <div class="col-sm-3">
          <p class="article-content aligner-center">{{ apt.assignee.first_name }} {{ apt.assignee.last_name }}</p>
        </div>
      </div>
    </div>
  </article>
{% endfor %}
{% if is_paginated %}
  {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}
  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.pagnator.num_pages }}">Last</a>
  {% endif %}
{% endif %}
{% endblock content %}
