{% extends "HKmanager/errorbase.html" %}
{% block content %}
  <h1 class="aligner-center pt-5 green-text">Excuse me?</h1>
  <h1 class="aligner-center pt-5 green-text">Error 400 - Bad Request</h1>
  <h2 class="aligner-center pt-5 green-text">Seems like you weren't polite enough while making that request.</h2>
  <form action="{% url 'hk-Home' %}">
    <div class="aligner-center pt-5">
      <button class="btn btn-outline-success aligner-middle green-text" type="submit" name="submit-button">Go Home</button>
    </div>
  </form>
{% endblock content %}
