{% extends "HKmanager/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <h2 class="article-title">Apartment {{ object.number }} - {{ object.block }}</h2>
      <p class="article-content">Rooms: {{ object.rooms }}</p>
      <br>
      <p class="article-content">Status: {{ object.status }}</p>
      <p class="article-content">Task: {{ object.task }}</p>
      <p class="article-content">Assigned To: {{ object.assignee }}</p>
      {% if object.assignee == user or user.is_superuser %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'hk-apt-update' object.id %}">Update Apartment</a>
      {% endif %}
      {% if user.is_superuser %}
        <a class="btn btn-secondary btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'hk-apt-delete' object.id %}">Delete Apartment</a>
      {% endif %}
      <hr>
      <h4 class="article-title ml-3">Living Room {{ object.livingroom.apartment }}</h4>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <table>
              <tr>
                <th>Task</th>
                <th>Status</th>
              </tr>
              {% for task in livingRoomCheckList %}
                <tr>
                  <td>{{ task.task }}</td>
                  {% if task.checked %}
                    <td>
                      <center>
                        <a href="{% url 'task-undo' object.id task.id 1 %}">
                          Completed
                        </a>
                      </center>
                    </td>
                  {% else %}
                    <td>
                      <center>
                        <a href="{% url 'task-complete' object.id task.id 1 %}">
                          Pending
                        </a>
                      </center>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </table>
          </div>
          <div class="col-sm-6">
            <p><b>Call Backs</b></p>
          </div>
        </div>
      </div>
      <hr>
      <h4 class="article-title ml-3">Kitchen {{ object.kitchen.apartment }}</h4>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <table>
              <tr>
                <th>Task</th>
                <th>Status</th>
              </tr>
              {% for task in kitchenCheckList %}
                <tr>
                  <td>{{ task.task }}</td>
                  {% if task.checked %}
                    <td>
                      <center>
                        <a href="{% url 'task-undo' object.id task.id 2 %}">
                          Completed
                        </a>
                      </center>
                    </td>
                  {% else %}
                    <td>
                      <center>
                        <a href="{% url 'task-complete' object.id task.id 2 %}">
                          Pending
                        </a>
                      </center>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </table>
          </div>
          <div class="col-sm-6">
            <p><b>Call Backs</b></p>
          </div>
        </div>
      </div>
      <hr>
      <h4 class="article-title ml-3">Corridor {{ object.corridor.apartment }}</h4>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <table>
              <tr>
                <th>Task</th>
                <th>Status</th>
              </tr>
              {% for task in corridorCheckList %}
                <tr>
                  <td>{{ task.task }}</td>
                  {% if task.checked %}
                    <td>
                      <center>
                        <a href="{% url 'task-undo' object.id task.id 3 %}">
                          Completed
                        </a>
                      </center>
                    </td>
                  {% else %}
                    <td>
                      <center>
                        <a href="{% url 'task-complete' object.id task.id 3 %}">
                          Pending
                        </a>
                      </center>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </table>
          </div>
          <div class="col-sm-6">
            <p><b>Call Backs</b></p>
          </div>
        </div>
      </div>
      <hr>
      <h4 class="article-title ml-3">Rooms {{ object.number }}</h4>
      {% for bedroom in bedrooms %}
        <h5 class="article-title ml-4">Room {{ bedroom.number }}</h5>
        <div class="container ml-2">
          <div class="row">
            <div class="col-sm-6">
              <table>
                <tr>
                  <th>Task</th>
                  <th>Status</th>
                </tr>
                {% for task in bedroomCheckList %}
                  {% if task.bedroom == bedroom %}
                    <tr>
                      <td>{{ task.task }}</td>
                      {% if task.checked %}
                        <td>
                          <center>
                            <a href="{% url 'task-undo' object.id task.id 4 %}">
                              Completed
                            </a>
                          </center>
                        </td>
                      {% else %}
                        <td>
                          <center>
                            <a href="{% url 'task-complete' object.id task.id 4 %}">
                              Pending
                            </a>
                          </center>
                        </td>
                      {% endif %}
                    </tr>
                  {% endif %}
                {% endfor %}
              </table>
            </div>
            <div class="col-sm-6">
              <p><b>Call Backs</b></p>
            </div>
          </div>
        </div>
        <br>
        <h6 class="article-title ml-5">
          Ensuite {{ bedroom.ensuite.bedroom.number }}
        </h6>
        <div class="container ml-4">
          <div class="row">
            <div class="col-sm-6">
              <table>
                <tr>
                  <th>Task</th>
                  <th>Status</th>
                </tr>
                {% for task in ensuiteCheckList %}
                  {% if task.ensuite == bedroom.ensuite %}
                    <tr>
                      <td>{{ task.task }}</td>
                      {% if task.checked %}
                        <td>
                          <center>
                            <a href="{% url 'task-undo' object.id task.id 5 %}">
                              Completed
                            </a>
                          </center>
                        </td>
                      {% else %}
                        <td>
                          <center>
                            <a href="{% url 'task-complete' object.id task.id 5 %}">
                              Pending
                            </a>
                          </center>
                        </td>
                      {% endif %}
                    </tr>
                  {% endif %}
                {% endfor %}
              </table>
            </div>
            <div class="col-sm-6">
              <p><b>Call Backs</b></p>
            </div>
          </div>
        </div>
        <br>
      {% endfor %}
    </div>
  </article>
{% endblock content %}
