{% extends "HKmanager/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        {% if update %}
          <legend class="border-bottom mb-4">{{ legend }} {{ apartment.number }}</legend>
        {% else %}
          <legend class="border-bottom mb-4">{{ legend }}</legend>
        {% endif %}
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit" name="submit-button">{{ btn }}</button>
      </div>
    </form>
  </div>
{% endblock content %}
