<table class="table table-bordered table-sm">
  <tr>
    <th>Task</th>
    <th>Status</th>
    <th>Callbacks</th>
  </tr>
  {% for task in ensuiteCheckList %}
    {% if task.ensuite == bedroom.ensuite %}
      <tr>
        <td class="twidth-lg">{{ task.task }}</td>
        {% if task.checked %}
          <td class="twidth-md">
            <center>
              <a class="green-text" href="{% url 'task-undo' object.id task.id 5 %}">
                Completed
              </a>
            </center>
          </td>
        {% else %}
          <td class="twidth-md">
            <center>
              <a class="red-text" href="{% url 'task-complete' object.id task.id 5 %}">
                Pending
              </a>
            </center>
          </td>
        {% endif %}
        {% if task.callback %}
          <td>
            <center>
              {% if user.is_superuser %}
                <a class="orange-text" href="{% url 'callback-undo' object.id task.id 5 %}">
                  Call Back!
                </a>
              {% else %}
                <p class="orange-text">
                  Call Back!
                </p>
              {% endif %}
            </center>
          </td>
        {% else %}
          <td>
            <center>
              {% if user.is_superuser %}
                <a class="green-text" href="{% url 'callback-undo' object.id task.id 5 %}">
                  Set Callback
                </a>
              {% endif %}
            </center>
          </td>
        {% endif %}
      </tr>
    {% endif %}
  {% endfor %}
</table>
