{% extends "HKmanager/base.html" %}
{% block content %}
  <h1>Welcome to the Thomond Village Panel</h1>
  {% for apt in apartment %}
    <article class="media content-section">
      <div class="media-body">
        <h2><a class="article-title" href="#">Apartment: {{ apt.number }}</a></h2>
        <p class="article-content">Block: {{ apt.block }}</p>
        <p class="article-content">Status: {{ apt.status }}</p>
        <p class="article-content">Task: {{ apt.task }}</p>
        <p class="article-content">Assigned To: {{ apt.assignee }}</p>
      </div>
    </article>
  {% endfor %}
{% endblock content %}
