body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

a {
  color: black;
}

a:hover {
  color: grey;
  text-decoration: none;
}

div {
  vertical-align: middle;
}

.task-column-width {
  width:
}

.light-green {
  background-color: #00b140;
}

.green-text {
  color: #00b140;
}

.red-text {
  color: #e80000;
}

.dark-green {
  background-color: #003726;
}

.white-text {
  color: #fff;
}

.black-text {
  color: #000;
}

.bg-steel {
  background-color: #003726;
}

.site-header .navbar-nav .nav-link {
  color: #00b140;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 8px 20px;
  vertical-align: middle;
  line-height: inherit;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 10px;
}

.article-title {
  color: #444444;
  font-weight: bold;
}

.footer-link:hover {
  color: #003726;
  text-decoration: none;
}

.my-link:hover {
  color: #00b140;
  text-decoration: none;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.aligner-center {
  padding-top: 10px;
  text-align: center;
}

.aligner-right {
  text-align: right;
}

.apartment-header {
  font-weight: bold;
  font-size: 20px;
}

.text-white {
  color: white;
}

.colorsetter-darkgreen {
  background: #26b00e;
}

.colorsetter-ashleygreen {
  background: #e8de00;
}

.colorsetter-ashleyred {
  background: #e80000;
}

.colorsetter-ashleyorange {
  background: #ff9300;
}

.colorsetter-ashleyblue {
  background: #0362fe;
}
